# SUPABASE_CREDENTIALS —Project URL: https://ygbomktaeublzqglayxo.supabase.co , Anon Public key: sb_publishable_KuDFxyyGI73Z4gz724mfyA_nPPoZUev
VITE_SUPABASE_URL=https://ygbomktaeublzqglayxo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KuDFxyyGI73Z4gz724mfyA_nPPoZUev
